extends ./layout.pug

block scripts
  link(rel='stylesheet', type='text/css', href='stylesheets/sign-in-modules.css')

block body
  if error
    - var placeHolder = __(error)
    - var mobileNumberStyle = 'border-color: red'
  else
    - var placeHolder = __('Mobile Number')

  form.pure-form.pure-form-stacked(action='/mobileNumberProcessForm', method='post')

    fieldset
      .upper-box
        div
          if clientId
            include _client-header.pug
          h2.title-padding #{__('SMS Authorization')}
        .pure-control-group
          label.labels(for='mobileNumber') #{__('Mobile Number')}:
          .input-fields.content
            input#mobileNumber.pure-input-1.input-fields.input-type-text(
            style=mobileNumberStyle,
            type='tel', placeholder=placeHolder,
            name='mobileNumber',
            autofocus=''
            )
            input#clientId(type='hidden', name='clientId', value=clientId)
      .bottom-box
        .pure-controls.sign-in-button
          button.pure-button.pure-button-primary(type='submit', value=__('Submit')) #{__('Send code')}
