extends ./layout.pug

block title
  title #{__('Account Register')}

block scripts
  link(rel='stylesheet', type='text/css', href='stylesheets/sign-in-modules.css')

block body
  form.pure-form.pure-form-stacked(action='/registerProcessForm', method='post')
    fieldset
      .upper-box
        div
          if client
            include _client-header.pug
          h2.title-padding #{__('Register an account')}
          if error
            .subtext.error #{__(error)}
        .pure-control-group
          label.labels(for='firstName') #{__('Name')}:
          .input-fields
            input#firstName.pure-input-1.input-fields(
            type='text', placeholder=__('FirstName'), name='firstName', autofocus='',
            value=firstName
            )
        .pure-control-group
          label.labels(for='lastName') #{__('LastName')}:
          .input-fields
            input#lastName.pure-input-1.input-fields(type='text', placeholder=__('LastName'), name='lastName',
            value=lastName
            )
        .pure-control-group
          label.labels(for='mobileNumber') #{__('Mobile Number')}:
          .input-fields
            input#mobileNumber.pure-input-1.input-fields(
            type='tel',
            name='mobileNumber',
            value=mobileNumber,
            readonly
            )
      .bottom-box
        .pure-controls.sign-in-button
          a.pure-button.button-warning(href='/login') #{value=__('Cancel')}
          span &nbsp;&nbsp;
          button.pure-button.pure-button-primary(type='submit', value=__('Submit')) #{__('Register')}
